@font-face
  font-family: 'icomoon'
  src: url('../../assets/fonts/icomoon.eot?96a0ha')
  src: url('../../assets/fonts/icomoon.eot?96a0ha#iefix') format("embedded-opentype"), url('../../assets/fonts/icomoon.ttf?96a0ha') format("truetype"), url('../../assets/fonts/icomoon.woff?96a0ha') format("woff"), url('../../assets/fonts/icomoon.svg?96a0ha#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-Logo:before
  content: "\e919"

.icon-CaretRight:before
  content: "\e918"

.icon-Alert:before
  content: "\e917"
  color: #fff

.icon-Media:before
  content: "\e916"

.icon-Bin:before
  content: "\e912"

.icon-Eye:before
  content: "\e913"

.icon-EyeCrossed:before
  content: "\e914"

.icon-Pencil-1:before
  content: "\e915"

.icon-CaretDown:before
  content: "\e911"
  color: #c7c7cc

.icon-Refresh:before
  content: "\e910"

.icon-Done:before
  content: "\e90f"

.icon-Exit:before
  content: "\e90d"

.icon-OpenLink:before
  content: "\e90e"

.icon-ArrowDownBig:before
  content: "\e90c"

.icon-ArrowDown:before
  content: "\e900"

.icon-StoreFill:before
  content: "\e901"

.icon-ServingDish:before
  content: "\e902"

.icon-Store:before
  content: "\e903"

.icon-Plus:before
  content: "\e904"
  color: #fff

.icon-Cloche:before
  content: "\e905"

.icon-Pencil:before
  content: "\e906"

.icon-Share:before
  content: "\e907"

.icon-ClocheFill:before
  content: "\e908"

.icon-Cross:before
  content: "\e909"

.icon-ArrowUp:before
  content: "\e90a"

.icon-ArrowLeft:before
  content: "\e90b"

.icon-ArrowBack:before
  content: "\e91a"